*{
  margin: 0;
  padding:0;
  font-family: 'Roboto',sans-serif;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.left {
  float: left;
}

.right {
  float: right;
}

.main-container-wrapper {
  min-height: 100%;
  background-color: #CCCCCC;
}

.banner {
  height: 490px;
  color: white;
  padding-top: 174px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/img.jpg'), #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0 25px;
  background: rgba(0, 0, 0, 0.4);
}

.container {
  padding: 0 15px;
}

.logo {
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.menu-btn {
  border: 0;
  width: 22px;
  height: 14px;
  margin-top: 3px;
  cursor: pointer;
  background: url('../img/menu.png') no-repeat center;
}

.nav {
  display: none;
}

.banner-heading {
  font-size: 53px;
  font-weight: 500;
  line-height: 62px;
  margin-bottom: 9px;
}

.banner-text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 42px;
}

.banner-link {
  width: 179px;
  color: white;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 19px 15px 18px;
  background-color: #F44336;
}

.banner-link:hover {
  background-color: #C63B31;
  transition: all 0.2s ease-in;
}

.banner-link img {
  width: 15px;
  margin-right: 3px;
  vertical-align: middle;
}

.banner-link span {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .banner {
    height: 597px;
    background-image: url('../img/tablet.png');
  }

  .header {
    padding: 22px 0 23px;
  }

  .container {
    padding: 0 24px;
  }

  .menu-btn {
    display: none;
  }

  .nav {
    display: block;
  }

  .main-nav {
    float: left;
    margin-top: 5px;
  }

  .main-nav li {
    float: left;
    margin-right: 30px;
  }

  .main-nav li:last-child {
    margin-right: 0;
  }

  .main-nav li a {
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .main-nav li a:hover span {
    text-decoration: underline;
  }

  .main-nav li img {
    width: 20px;
    margin: -4px 5px 0 0; 
    vertical-align: middle;
  }

  .social-media-nav {
    float: left;
    margin: 4px 0 0 26px;
  }

  .social-media-nav li {
    margin-right: 24px;
    float: left;
  }

  .social-media-nav li:last-child {
    margin-right: 0;
  }

  .social-media-nav li a {
    line-height: 1;
    display: inline-block;
  }

  .social-media-nav li img {
    width: 18px;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 726px;
    padding-top: 207px;
    background-image: url('../img/rectangle.png');
  }

  .header {
    padding-top: 39px;
    position: absolute;
    background: transparent;
  }

  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1128px;
  }

  .main-nav {
    margin-top: 0;
  }

  .social-media-nav {
    margin-top: 0;
  }

  .banner-content {
    max-width: 549px;
  }
}

.body-container-wrapper {
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -60px;
  padding: 0 16px;
}

.product-content {
  padding-top: 94px;
  text-align: center;
}
.product-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #3c4858;
  left: 50%;
}

.product-paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 38px;
  margin-bottom: 162px;
  max-width: 723px;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  margin-bottom: 108px;
}
.feature:last-child {
  margin-bottom: 207px;
}

.icons {
  width: 70px;
  left: 50%;
}

.feature-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-top: 31px;
}

.feature-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin-top: 18px;
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .feature-content {
    display: flex;
    justify-content: center;
  }
  .feature-contentr:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .feature {
    padding: 0 31px;
    margin-left: 62px;
  }
}

.team-content {
  text-align: center;
}

.team-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-bottom: 86px;
}

.team-members{
  margin-bottom: 21px;
}

.team {
  width: 230px;
  margin: -30px;
}

.team-member-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-bottom: 7px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.65px;
  line-height: 16px;
  color: #777777;
  text-align: center;
  left: 50%;
  margin-top: 15px;
}

.member-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin-top: 33px;
}
.social-media-icons {
  left: 50%;
  overflow: auto;
  white-space: nowrap;
}
.social-media-icon {
  display: inline-block;
  padding: 0 14px;
  width: 17px;
  height: 18px;
  line-height: 21px;
  color: #999999;
  margin-top: 26px;
  margin-bottom: 10px;
}

.twitter {
  width: 17px;
  height: 18px;
}

.instagram {
  width: 16px;
  height: 18px;
}

.facebook {
  width: 16px;
  height: 18px;
}

.linkedin {
  width: 16px;
  height: 18px;
}

.google {
  width: 24px;
  height: 18px;
}
.youtube {
  width: 18px;
  height: 18px;
}
.team-members:last-child {
  margin-bottom: 185px;
}

@media (min-width: 1200px) {

  
  .team-section {
    display: flex;
    justify-content: center;
  }
  .team-section:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .team-members {
    padding: 0 31px;
    margin-left: 39px;
  }
}

.work-content{
  text-align: center;
}

.work-heading{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #3c4858;
  text-align: center;
}

.work-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 37px;
  max-width: 753px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47;
}
.inputs {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  left: 10%;
}

input:focus{
  border-color: #9c27b0;
}

.input-line {
  padding: 7px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.content-name {
  margin-top: 47px;
}
.content-email {
  margin-top: 47px;
}

.content-message {
  margin-top: 51px;
}
@media (min-width: 1200px) {
  .inputs {
    max-width: 753px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-content {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
  }
  .content-name {
    padding: 0 15px;
    width: 50%;
  }
  .content-email {
    padding: 0 15px;
    width: 50%;
  }
}

.message-button {
  width: 148px;
  background: #9c27b0;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 3px;
  text-align: center;
  margin-top: 24px;
  padding: 13px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 79px;
  border: none;
}


footer{
  left:0;
  bottom:80px;
  width: 100%;
  text-align: center;
  color: #333333;
  }
  .footer-nav{
      margin-bottom: 65px;
  }
  .footer-nav ul li a{
      text-decoration: none;
      color: #333333;
  }
  .footer-nav ul li
  {
      float: left;
      text-align: center;
      padding-left: 33px;
      font-weight: 500;    font-size: 12px;
      line-height: 14px;
      text-align: center;
  }
  .copyright{
      display: inline-block;
      margin-bottom: 18px;
      margin-top: 31px;
      font-size: 10px;
      line-height: 11px;
      text-align: center;
      color: #000000; 
      width: 100%;
  }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
 @media(min-width:1200px){
.footer-nav{
  float: left;
}
.copyright{
  float: right;
  width: auto;
  margin-top: 0px;
}
}
.footer-content{
max-width: 1122px;
margin: 0 auto;
margin-top: 32px;
}


